<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <h4>{{ site.title }}</h4>
          <p>The Social Investment Data Lab supports the use of data to create better conditions for social investment</p>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        {% if site.github_username %}<a href="http://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i> Github</a>{% endif %}
        <a href=
      </div>
    </div>
    <div class="row">
      <p class="copyright text-muted small">{{ site.copyright }}</p>
    </div>
  </div>
</footer>
