---
layout: default
---
{% assign date_format = "%b %-d, %Y" %}

<section>
  <div class="container content-section about-section">
    <h1 class="text-center">{{ page.title }}</h1>
    <br />
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
				{% for post in site.posts %}
					{% if post.category == 'blog' %}

							<div class="content-section-blog">
								<div class="container">
									<div class="row">
										<div class="col-lg-5 col-sm-6">
											<hr class="section-heading-spacer">
											<div class="clearfix"></div>
											<h3>
												<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
													{{ post.title | escape }}
												</a>
											</h3>
											<h4>
												<span class="post-meta"><em>By {{ post.author }} on {{ post.date | date: date_format }}</em></span>
											</h4>
											<div class="lead">
                        {% if post.excerpt %}
                          {{ post.excerpt }}<a href="{{ post.url | prepend: site.baseurl }}"> ... Read more</a>
                        {% else %}
                          {{ post.content | truncate:280 }}<a href="{{ post.url | prepend: site.baseurl }}"> Read more</a>
                        {% endif %}
                      </div>
										</div>
										<div class="col-lg-5 col-lg-offset-2 col-sm-6">
											<img class="img-responsive" src="img/services/{{ post.img }}" alt="">
										</div>
									</div>
								</div>        <!-- /.container -->
							</div>      <!-- /.content-section-a -->

					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
